mode server
dev tun
server 10.128.0.0 255.255.255.0
push "redirect-gateway def1"
push "dhcp-option DNS {{ dns_server }}"
tls-server
ca ca.crt
cert server.crt
key server.key
dh dh.pem
proto tcp-server
port 1194
client-to-client
comp-lzo
keepalive 10 120
verb 4
cipher AES-256-CBC
user nobody
group nogroup
max-clients 10